.body {
    margin: 0;
}

#conteinet_over {
    width: 600px;
    height: 450px;
 margin: 20%;
}

#top {
    width: 600px;
    height: 180px;

}

.header {
    width: 600px;
    height: 100px;
    background: #8b2fb2;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.nav {
    width: 600px;
    height: 80px;
    background: #ac7fbe;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#center {
    width: 600px;
    height: 200px;
    display: flex;
}

.main {
    width: 400px;
    height: 200px;
    background: #961fc9;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.aside {
    width: 200px;
    height: 200px;
    background: rgba(215, 45, 229, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer {
    width: 600px;
    height: 80px;
    background: #ac7fbe;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}